#.gitignore

#ignore dependencies
.venv/

#ignore cache
__pycache__/

#ignore .json
# *.json
.vscode/launch.json

#ignore dist
dist/
*.whl
*.gz

#ignore .vscode
.vscode/
wget-log

#ignore coverage report
htmlcov
coverage.xml
.coverage

#ignore environments
.env

# *.egg-info
# __pycache__
# dist/
# *.pyc
# .venv/
# .coverage
# coverage.xml
# .pytest_cache/
# .vim